n8n/workflows/input_submitted.workflow.json
{
  "name": "RAIS Portal - input_submitted",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook",
      "name": "Supabase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "rais-input-submitted"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-portal-secret']}}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "id": "secretCheck",
      "name": "Secret Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.RESEND_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "jsonBody": "={\"from\":\"portal@mail.ritz-ai.solutions\",\"to\":[\"kevin@ritz-ai.solutions\"],\"subject\":\"Neue Input-Submission eingegangen\",\"html\":\"<p>Request-ID: {{$json.body.record.request_id}}</p><p>Client-ID: {{$json.body.record.client_id}}</p>\"}"
      },
      "id": "sendKevinMail",
      "name": "Alert Kevin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [730, 250]
    }
  ],
  "connections": {
    "Supabase Webhook": {
      "main": [[{ "node": "Secret Check", "type": "main", "index": 0 }]]
    },
    "Secret Check": {
      "main": [[{ "node": "Alert Kevin", "type": "main", "index": 0 }], []]
    }
  }
}
